@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "main";
  src: url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
}

::-webkit-scrollbar {
  display: none;
  /* chrome safari opera */
}

-ms-overflow-style {
  display: none;
} /* IE and Edge */
scrollbar-width {
  display: none;
} /* Firefox */

.navbarfont {
  font-size: 1rem;
}

#index-main-div {
  animation-name: IndexAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes IndexAnimation {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
